body {
  background-color: black;
  color: white;
  font-size: 2.5vh;
}

a {
  color: yellow;
}

#fileList {
  margin-left: 2%;
}

#fileList div {
  margin: 0;
}

#fileList div:hover {
  background-color: blanchedalmond;
  color: black;
}

.selected {
  background-color: aquamarine;
  color: black;
}

.isFile {
  color: grey;
}

.isUpper {
  display: block;
}

.isFile:hover {
  background-color: blanchedalmond;
  color: black;
}

.interval {
  width: 100vw;
  float: left;
}

.innerInterval {
  float: left;
  width: 40vw;
}

